.twin-container{
    display: flex;
}
.place-details{
    width: 60%;
    margin: 50px;
    
}

.dateSlection{
    border: none;
    padding: 50px;
    margin: 40px;
    border-radius: 5px;
    background-color:#edebdd;   
}