img{
    height: 300px;
    
   
}

.tourPlace-container{
    display: flex;
    padding: 20px;
    

}

.place-details-container{
    width: 40%;
    margin: 10px;
    
    

}

.imageCard:hover{
    background-color: yellow;
    border-radius: 10px;
}

.imageCard{
   padding: 5px;
}

